
      <ion-view title="Movie Collection">
        <ion-content has-header="true" padding="true">
                       <div class="list card">
                    <div class="item item-divider">
                        <h2>Xtro</h2>
                    </div>
                    <div class="item item-body">
                        <p>
                        <b>Description</b>
                        </p>
                        <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                        </p>



                        <p>
                            <a href="#" class="subdued"> 1 Comment</a>
                            <a href="#" class="subdued"> 4 Rating</a>
                            <a href="#" class="subdued"> 1 Views</a>
                        </p>
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                          <i class="icon ion-thumbsup"></i>
                          Watched It!
                        </a>
                        <a class="tab-item" href="#">
                          <i class="icon ion-chatbox"></i>
                          Comment
                        </a>
                        <a class="tab-item" href="#">
                          <i class="icon ion-star"></i>
                          Vote
                        </a>
                    </div>
                </div>
        </ion-content>
      </ion-view>
