 <!--<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-light" animation="slide-left-right">-->
        <ion-tabs class="tabs-light tabs-icon-only">
        <ion-tab title="Movie Collection" icon-on="ion-ios7-film" icon-off="ion-ios7-film-outline" href="#/tab/movies">
          <ion-nav-view name="movie-tab"></ion-nav-view>
        </ion-tab>


        <ion-tab title="Profile Settings" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline" href="#/tab/settings">
            <ion-nav-view name="settings-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
